@use '../utils/all' as utils

// Ecology
.accordion__tab
  display: flex
  align-items: center
  justify-content: space-between
  border-bottom: 1px solid utils.$color-dark

.accordion__icon
  padding: utils.$margin-sm 0