@use '../utils/all' as utils
@use 'sass:math'

// Habitat
.habitat__card
  width: 33%

  &--middle
    margin-top: utils.$margin-xl

.habitat__image
  width: 100%
  border-radius: utils.$margin-xs
  object-fit: cover
  height: 475px

.habitat__button
  @extend %flex-center
  gap: utils.$margin-s
  margin-top: (utils.$margin-m * 2) * -1
  transition: all 0.3s ease

  &:hover
    position: relative
    z-index: 2
    width: fit-content
    margin-right: auto
    margin-left: auto
    box-shadow: 0 2px 0 utils.$color-light

@media screen and (max-width: 800px)
  .habitat__image
    height: 300px

@media screen and (max-width: 600px)
  .habitat__card
    width: 100%

    &--middle
      margin-top: 0

// Animal
.animal
  &__card
    box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.25)
    padding: utils.$margin-xs
    border-radius: math.div(utils.$margin-ml, 2)
    transition: all 0.3s ease-out
    &--page
      background-color: utils.$color-light
      display: flex
      flex-direction: column
      width: 33%
      min-width: 300px
    &--index:hover
      scale: 1.02

    &-title
      text-align: center
      padding: utils.$margin-s 0 utils.$margin-ssm 0

    &-button
      margin-top: utils.$margin-s
      display: flex
      margin-right: auto
      margin-left: auto
      cursor: pointer

  &__image
    height: 275px
    width: 100%
    object-fit: cover
    border-radius: utils.$margin-s

// Testimonial
.testimonial__card
  border: 2px solid utils.$color-accent
  border-radius: 1.25rem
  text-align: center
  padding: utils.$margin-sm utils.$margin-s
  display: flex
  flex-direction: column
  justify-content: space-between
  gap: utils.$margin-sm

  &-title
    padding-bottom: utils.$margin-sm
    text-align: left

  &-content
    text-align: justify

  &-note
    display: flex
    justify-content: space-between

.splide
  &__slide
    display: flex

  &__arrow
    background: none
    opacity: 1
    top: 100%

    &:hover
      svg
        fill: utils.$color-accent

    svg
      width: 40px
      height: 40px
      fill: #111928
      transition: all 0.12s ease-out

  &__pagination
    position: initial
    padding-top: utils.$margin-sm

    &__page
      background-color: rgba(utils.$color-accent , 0.6)

    &__page.is-active
      background-color: utils.$color-accent