@use '../utils/_all' as utils

.contact
  &__form
    display: flex
    flex-direction: column
    gap: utils.$margin-s
    &-wrapper
      background-color: utils.$color-light
      display: flex
      flex-direction: column
      justify-content: center
      gap: utils.$margin-s

    &-group
      display: flex
      flex-direction: column

      &-wrapper
        display: flex
        justify-content: space-between
        & > *
          width: 48%
        @media screen and (max-width: 1100px)
          flex-direction: column
          gap: utils.$margin-s
          & > *
            width: 100%

  &__input
    height: 2.5rem
    border-radius: 5px
    border: 1px solid rgba(0, 0, 0, 0.2)
    padding: 0 0.5rem
    &:focus
      outline: none
      border: 1px solid rgba(0, 0, 0, 0.6)

  &__textarea
    resize: none
    height: 8rem
    border-radius: 5px
    border: 1px solid rgba(0, 0, 0, 0.2)
    padding: 0.5rem
    &:focus
      outline: none
      border: 1px solid rgba(0, 0, 0, 0.6)

.login
  background: rgba(255, 255, 255, 0.15)
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.15)
  border: 1px solid rgba(255, 255, 255, 0.3)
  padding: utils.$margin-l
  border-radius: utils.$margin-xs

  &::before
    content: ''
    position: absolute
    z-index: -1
    top: 0
    left: 0
    width: 100%
    height: 100%
    backdrop-filter: blur(3px)

  &__title
    padding-bottom: utils.$margin-s

  &__errors
    padding: utils.$margin-s
    border: 1px solid #DD230E
    border-radius: utils.$margin-xs
    color: #DD230E
    margin-bottom: utils.$margin-s

  &__error
    color: #DD230E

  &__form
    display: flex
    flex-direction: column
    gap: utils.$margin-sm

    &-input
      height: 2.5rem
      width: 25vw
      background: none
      border: none
      border-bottom: 1px solid rgba(255, 255, 255, 0.85)
      outline: none
      font-size: 1rem
      font-weight: 200
      color: utils.$color-light

      @media screen and (max-width: 1200px)
        width: 25rem

      @media screen and (max-width: 550px)
        width: 15rem

      &:focus
        color: utils.$color-light

      &::placeholder
        color: rgba(255, 255, 255, 0.65)

    &-submit
      margin-top: utils.$margin-s
      cursor: pointer

.dashboard__account
  &-form
    display: flex
    flex-direction: column
    width: 450px
    margin-top: utils.$margin-ml
    padding: utils.$margin-ssm
    border: 1px solid rgba(utils.$color-dark, 0.25)
    border-radius: 15px

  &-label
    display: flex
    flex-direction: column
    gap: utils.$margin-xs
    padding-bottom: utils.$margin-s

  &-input
    height: 2rem
    border-radius: 5px
    border: 1px solid rgba(utils.$color-dark, 0.25)
    padding: 0 0.5rem
    background-color: transparent
    font-size: 1rem
    &:focus
      outline: 1px solid utils.$color-accent
      outline-offset: 1px

  &-submit
    margin-top: utils.$margin-s
    cursor: pointer
    padding: 0.7rem 0
    border-radius: 5px
    background-color: utils.$color-dark
    color: utils.$color-light
    font-weight: 700
    border: none
    transition: all 0.2s
    &:hover
      background-color: lighten(utils.$color-dark, 5%)
      color: utils.$color-lighter
    &:active
      background-color: lighten(utils.$color-dark, 10%)
      color: utils.$color-lighter
    &:focus
      outline: none

.dashboard__service,
.dashboard__habitat,
.dashboard__animal
  &-form
    display: flex
    flex-direction: column
    margin-top: utils.$margin-s
    padding: utils.$margin-s
    border: 1px solid rgba(utils.$color-dark, 0.25)
    border-radius: 10px

  &-textarea
    resize: none
    height: 5rem
    border-radius: 5px
    border: 1px solid rgba(utils.$color-dark, 0.25)
    padding: 0.5rem
    background-color: transparent
    font-size: 1rem
    &:focus
      outline: 1px solid utils.$color-accent
      outline-offset: 1px

.dashboard__form-file::file-selector-button
  border: 1px solid rgba(utils.$color-dark, 0.25)
  background-color: transparent
  border-radius: 5px
  padding: 0.5rem 1rem
  cursor: pointer
  transition: all 0.2s
  &:hover
    background-color: rgba(utils.$color-dark, 0.1)

.dashboard__form-file
  font-size: 1rem
  line-height: 1.5
  color: utils.$color-dark
  @media screen and (max-width: 700px)
    width: 100%

.star__container
  padding: utils.$margin-xs 0 utils.$margin-s 0

.star 
  fill: utils.$color-dark
  cursor: pointer
  transition: fill 0.2s
  &.rated
    fill: #FFCE31