@use './_variables' as var

// START : typos

// TYPOS : header
%header
  font-size: 1rem
  line-height: 1.25rem
  font-weight: 400
  color: var.$color-light

// TYPOS : logo
%logo
  font-size: 2rem
  line-height: 115.5%
  font-weight: 600
  color: var.$color-light

// TYPOS : title
%home-title-h1
  font-size: clamp(2.5rem, 5vw, 4rem)
  line-height: 115.5%
  font-weight: 700
  color: var.$color-light

%home-title-h2
  font-size: clamp(2rem, 5vw, 3rem)
  font-weight: 700
  color: var.$color-dark

%home-title-h3
  font-size: 1.5rem
  line-height: 122%
  font-weight: 600
  color: var.$color-dark

// TYPOS : content
%home-content-l
  font-size: 1.5rem
  line-height: 148%
  font-weight: 400
  color: var.$color-text-light
  @media screen and (max-width: 400px)
    font-size: 1rem

%home-content-l-dark
  font-size: 1.5rem
  font-weight: 400
  color: var.$color-dark

%home-content-m
  font-size: 1.25rem
  line-height: 148%
  font-weight: 400
  color: var.$color-text-dark
  @media screen and (max-width: 400px)
    font-size: 1rem

%home-content-xs
  font-size: 1rem
  line-height: 1.5rem
  color: var.$color-dark

// TYPOS : footer
%footer-title
  font-size: 1.5rem
  font-weight: 400
  color: var.$color-light

// END : typos

// START : layout
%flex-center
  display: flex
  justify-content: center
  align-items: center

%flex-column-center
  display: flex
  flex-direction: column
  align-items: center

%margin-center
  margin-right: auto
  margin-left: auto

%padding-tb
  padding-top: var.$margin-xxl
  padding-bottom: var.$margin-xxl
  @media screen and (max-width: 400px)
    padding-top: var.$margin-ml
    padding-bottom: var.$margin-ml
// END : layout

// START : autres
%accordion-hide
  height: 0
  overflow: hidden
  transition: 0.3s
// END : autres