@use '../utils/_variables' as var

@mixin home-content-s($color)
  font-size: 1rem
  font-weight: 400
  line-height: 1.5rem

  @if $color == 'light'
    color: rgba(var.$color-light, 0.6)

  @if $color == 'dark'
    color: var.$color-text-dark