@use '../utils/all' as utils

.animal
  @extend %padding-tb

  &__container-text
    display: flex
    flex-direction: column
    align-items: center
    gap: utils.$margin-sm

  &__description
    width: 70%
    @extend %margin-center

  &__container-grid
    padding-top: utils.$margin-l

@media screen and (max-width: 1000px)
  .animal
    &__container-text
      text-align: center
      gap: utils.$margin-s

    &__description
      width: calc(100% - utils.$margin-s)

    &__container-grid
      padding-top: utils.$margin-m