@use '../utils/all' as utils

.animal
  padding: utils.$margin-xxl 0

  &__container-text
    text-align: center

  &__title
    padding-bottom: utils.$margin-sm

  &__description
    width: 70%
    @extend %margin-center
    padding-bottom: utils.$margin-l