@use '../utils/all' as utils

.animal
  @extend %padding-tb

  &__container-text
    display: flex
    flex-direction: column
    align-items: center
    gap: utils.$margin-sm

  &__description
    width: 70%
    @extend %margin-center

  &__container-grid
    padding-top: utils.$margin-l