@use '../utils/_all' as utils

.dashboard
  &__body
    display: flex

  &__main
    margin: utils.$margin-ml
    width: 100%

  &__account
    &-info
      display: flex
      justify-content: center
      width: 450px
      margin-top: utils.$margin-ml
      padding: utils.$margin-ssm
      border: 1px solid rgba(utils.$color-dark, 0.25)
      border-radius: 15px

    &-message
      font-size: 1.25rem
      font-weight: 400
      &--success
        color: utils.$color-accent
      &--error
        color: #DD230E

  &__container
    margin-top: utils.$margin-ml
    display: grid
    gap: utils.$margin-ssm
    grid-template-columns: repeat(2, 1fr)
    @media screen and (max-width: 1000px)
      grid-template-columns: 1fr
      gap: utils.$margin-s

  &__card-wrapper
    padding: utils.$margin-ssm
    border: 1px solid rgba(utils.$color-dark, 0.25)
    border-radius: 15px

  &__card-title
    font-weight: 500

  &__service,
  &__habitat
    &-link
      color: #2b57cf
      transition: color 0.3s
      &:hover
        color: utils.$color-accent
    &-list 
      margin-top: utils.$margin-s
    &-item
      display: flex
      align-items: center
      margin-top: utils.$margin-xs
      padding: utils.$margin-s
      border: 1px solid rgba(utils.$color-dark, 0.25)
      border-radius: 10px
      max-width: fit-content
    &-title
      padding-right: utils.$margin-s
    &-separator
      height: 1.25rem
      width: 1px
      background-color: rgba(utils.$color-dark, 0.5)
      margin: 0 utils.$margin-xs