@use '../utils/_all' as utils

.dashboard
  &__body
    display: flex

  &__main
    margin: utils.$margin-ml
    width: 100%

  &__account
    &-info
      display: flex
      justify-content: center
      width: 450px
      margin-top: utils.$margin-ml
      padding: utils.$margin-ssm
      border: 1px solid rgba(utils.$color-dark, 0.25)
      border-radius: 15px

    &-message
      font-size: 1.25rem
      font-weight: 400
      &--success
        color: utils.$color-accent
      &--error
        color: #DD230E

  &__container
    margin-top: utils.$margin-ml
    display: grid
    gap: utils.$margin-ssm
    grid-template-columns: repeat(2, 1fr)
    @media screen and (max-width: 1000px)
      grid-template-columns: 1fr
      gap: utils.$margin-s
    &--no-margin
      margin-top: 0

  &__card-wrapper
    padding: utils.$margin-ssm
    border: 1px solid rgba(utils.$color-dark, 0.25)
    border-radius: 15px
    &--review
      margin-top: utils.$margin-ml

  &__card-title
    font-weight: 500

  &__list-wrapper
    display: flex
    flex-wrap: wrap
    gap: utils.$margin-s

  &__list
    display: flex
    align-items: center
    gap: utils.$margin-xs

  &__service,
  &__habitat,
  &__animal
    &-link
      color: #2b57cf
      transition: color 0.3s
      &:hover
        color: utils.$color-accent
    &-list 
      margin-top: utils.$margin-s
    &-item
      display: flex
      align-items: center
      margin-top: utils.$margin-xs
      padding: utils.$margin-s
      border: 1px solid rgba(utils.$color-dark, 0.25)
      border-radius: 10px
      max-width: fit-content
    &-title,
    &-name
      padding-right: utils.$margin-s
    &-separator
      height: 1.25rem
      width: 1px
      background-color: rgba(utils.$color-dark, 0.5)
      margin: 0 utils.$margin-xs

  &__review,
  &__report
    &-list
      margin-top: utils.$margin-s
      display: grid
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr))
      gap: utils.$margin-s

    &-text-container
      display: flex
      flex-direction: column
      gap: utils.$margin-s

    &-wrapper
      display: flex
      justify-content: space-between
      flex-direction: column
      gap: utils.$margin-s

    &-item 
      border: 1px solid rgba(utils.$color-dark, 0.25)
      border-radius: 10px
      text-align: center
      padding: utils.$margin-s
      display: flex
      flex-direction: column
      justify-content: space-between
      gap: utils.$margin-s
      height: 100%

    &-buttons
      width: 100%
      display: flex
      justify-content: space-between

  &__backlink
    display: flex
    align-items: center
    gap: utils.$margin-xs
    margin-top: utils.$margin-ssm
    margin-bottom: utils.$margin-s
    transition: all 0.3s
    &:hover
      gap: utils.$margin-s

  &__input-container
    display: flex
    align-items: center
    gap: utils.$margin-s
    @media screen and (max-width: 780px)
      flex-direction: column
      padding-bottom: utils.$margin-m

  &__actual-image
    width: 200px
    height: auto
    object-fit: cover
    border-radius: 6px

.review-content
  color: rgba(utils.$color-dark , 0.85) !important

.review-note-container
  display: flex
  justify-content: space-between
  align-items: center

.review-button
  width: 48%
  border: 1px solid rgba(utils.$color-dark, 0.25)
  border-radius: 10px
  padding: utils.$margin-xs 0
  background-color: transparent
  cursor: pointer
  transition: background-color 0.3s
  font-size: 1rem
  &--valid
    &:hover
      background-color: #2bcf4f

  &--reject
    &:hover
      background-color: #DD230E

.review-one-button
  width: 100%

.animal-button
  transition: background-color 0.3s ease-out
  display: flex
  justify-content: center
  &:hover
    background-color: rgba(utils.$color-dark, 0.08)

.report,
.animal
  &-name,
  &-content
    text-align: left
    &--bold
      line-height: 1.5rem
      font-weight: 500