@use '../utils/all' as utils

.ecology
  padding-top: utils.$margin-3xl

  &__container-text
    text-align: center
    width: 62%
    @extend %margin-center

  &__description
    padding-top: utils.$margin-sm
    padding-bottom: utils.$margin-l

  &__subtitle
    padding-bottom: utils.$margin-m

  &__accordion
    padding-bottom: utils.$margin-xxl

@media screen and (max-width: 600px)
  .ecology
    padding-top: utils.$margin-xl

    &__container-text
      width: calc(100% - utils.$margin-m)

    &__description
      padding: utils.$margin-s 0

    &__subtitle
      padding-bottom: utils.$margin-s

    &__accordion
      padding-bottom: utils.$margin-ml