.flux
  width: calc(100% - 12rem)
  margin-right: auto
  margin-left: auto

  @media screen and (max-width: 1248px)
    width: calc(100% - 6rem)
    margin-right: auto
    margin-left: auto

  @media screen and (max-width: 800px)
    width: calc(100% - 2rem)
    margin-right: auto
    margin-left: auto