@use '../utils/all' as utils

.flux
  width: calc(100% - utils.$margin-6xl)
  margin-right: auto
  margin-left: auto

  @media screen and (max-width: 1248px)
    width: calc(100% - utils.$margin-3xl)
    margin-right: auto
    margin-left: auto

  @media screen and (max-width: 800px)
    width: calc(100% - utils.$margin-m)
    margin-right: auto
    margin-left: auto