@use '../utils/all' as utils

.habitat
  &__container-text
    @extend %flex-column-center
    gap: utils.$margin-sm
    padding-bottom: utils.$margin-xl

  &__description
    width: 62%

  &__container-cards
    display: flex
    gap: utils.$margin-sm

  &__card--middle
    padding-bottom: utils.$margin-3xl 