@use '../utils/all' as utils

.header
  display: flex
  justify-content: space-between
  align-items: center
  padding: 30px 0
  animation: 0.5s ease-in-out 0s 1 slideFromTop

  &__list
    display: flex
    gap: utils.$margin-l

  &__link
    position: relative
    padding: 0 0 4px 0

    &.active
      border-bottom: 2px solid utils.$color-light

    &::after
      content: ''
      position: absolute
      background-color: utils.$color-light
      height: 2px
      width: 0
      left: 0
      bottom: -2px
      transition: 0.3s

    &:hover::after
      width: 100%

  &__burger
    display: none

@media screen and (max-width: 800px)
  .header
    padding: utils.$margin-s 0

  .header__login,
  .header__nav
    display: none

  .header__burger
    display: block