@use '../utils/all' as utils

.hero
  display: flex
  padding-top: utils.$margin-s
  padding-bottom: utils.$margin-l
  align-items: center

  &__container-text
    width: 77%
    display: flex
    flex-direction: column
    gap: utils.$margin-l
    margin-left: utils.$margin-3xl