@use '../utils/all' as utils

.hero
  display: flex
  padding-top: utils.$margin-s
  padding-bottom: utils.$margin-l
  align-items: center
  overflow: hidden

  &__container-text
    width: 77%
    display: flex
    flex-direction: column
    gap: utils.$margin-l
    margin-left: utils.$margin-3xl
    padding-right: utils.$margin-ml
    animation: 0.75s ease-in-out 0.1s 1 fadeInLeft

  &__image--mobile
    display: none
    animation: 0.75s ease-in-out 0s 1 fadeInRight

  &__image--desktop
    width: 40%
    animation: 0.75s ease-in-out 0s 1 fadeInRight

@media screen and (max-width: 1000px)
  .hero
    flex-direction: column

    &__container-text
      width: 95%
      padding: 0
      margin: 0

    &__image--desktop
      padding-top: utils.$margin-s
      margin-left: auto
      width: 50%

@media screen and (max-width: 800px)
  .hero
    padding-top: utils.$margin-m
    padding-bottom: utils.$margin-ssm
    flex-direction: column
    gap: utils.$margin-s

    &__image
      &--mobile
        display: block
        margin-left: auto

      &--desktop
        display: none

    &__container-text
      margin-left: 0
      width: calc(100% - utils.$margin-m)
      margin-right: auto
      margin-left: auto
      text-align: center
      gap: utils.$margin-s

@media screen and (max-width: 350px)
  .hero
    &__image
      &--mobile
        display: none