@use '../utils/all' as utils

.services
  @extend %padding-tb

  &__container-text
    width: 63%
    @extend %margin-center
    display: flex
    flex-direction: column
    align-items: center
    gap: utils.$margin-sm

  &__flex .services__wrapper
    display: flex
    align-items: center
    justify-content: space-between

  &__flex:nth-child(2) .services__wrapper
    padding-top: utils.$margin-m
    flex-direction: row-reverse

  &__flux
    padding-top: utils.$margin-l
    width: calc(100% - utils.$margin-6xl)
    @extend %margin-center

  &__icon
    display: none

  &__content,
  &__image
    width: calc(50% - utils.$margin-ml)

  &__content
    text-align: left !important

  &__image
    height: 350px
    object-fit: cover
    border-radius: 1.25rem

  &__type
    display: none

@media screen and (max-width: 1000px)
  .services
    &__container-text
      width: calc(100% - utils.$margin-m)
      text-align: center
      gap: utils.$margin-s

    &__flux
      width: 100%
      padding-top: utils.$margin-m

    &__flex .services__wrapper,
    &__flex:nth-child(2) .services__wrapper
      flex-direction: column
      padding-top: 0

    &__flex:nth-child(2)
      padding-top: utils.$margin-m

    &__type
      display: block
      margin-right: auto
      padding-bottom: utils.$margin-s
      padding-left: utils.$margin-s

    &__content,
    &__image
      width: 100%

    &__image
      border-radius: 0
      padding-bottom: utils.$margin-s
      height: 400px

    &__content
      margin-left: auto
      margin-right: auto
      width: calc(100% - utils.$margin-m)

@media screen and (max-width: 400px)
  .services__image
    height: 250px

.service
  &-body
    display: flex
    flex-direction: column
    justify-content: center

  &-main
    display: flex
    align-items: center
    gap: utils.$margin-3xl
    margin-left: utils.$margin-l
    margin-right: utils.$margin-3xl

  &-header
    position: fixed
    top: 0
    left: 0
    right: 0

  &__img
    &-list
      display: flex
      flex-direction: column
      gap: utils.$margin-sm
      animation: 0.5s ease-in-out 0s 1 zoomIn8

  &__num
    &-list
      display: flex
      flex-direction: column
      gap: utils.$margin-l
      animation: 0.5s ease-in-out 0s 1 fadeInLeft

    &-item
      @extend %flex-center

  &__content
    padding-right: utils.$margin-xl
    display: flex
    flex-direction: column
    animation: 0.5s ease-in-out 0s 1 zoomIn8
  &__text
    text-align: justify
    padding: utils.$margin-ml 0

  &__title
    padding-bottom: utils.$margin-ml
    font-size: 8vw !important

  &__button
    margin-right: auto

  &__bottom-nav
    display: flex
    align-items: center
    gap: utils.$margin-s
    position: fixed
    bottom: utils.$margin-l
    animation: 0.75s ease-in-out 0s 1 slideFromBottom

  &__line
    width: 330px
    height: 2px
    border-radius: 2px

  @media screen and (max-width: 1100px)
    &-main
      flex-direction: column
      margin-right: auto
      margin-left: auto
      width: calc(100% - utils.$margin-3xl)
      gap: utils.$margin-xl
      height: 100vh

    &__content
      padding: 0
      align-items: center

    &__text
      font-size: 1rem
      font-weight: 400
      line-height: 148%
      padding: utils.$margin-ssm 0 

    &__about
      font-size: 1.5rem
      margin-right: auto

    &__title
      font-size: 4rem !important
      padding-bottom: utils.$margin-m
      margin-right: auto

    &__num-list
      display: none

    &__nav
      &-number
        width: 100%

    &__img-list
      flex-direction: row

  @media screen and (max-width: 800px)
    &-body
      overflow: hidden

    &-main
      width: calc(100% - utils.$margin-m)

    &__button
      margin-right: 0

  @media screen and (max-width: 450px)
    &__line
      max-width: 330px
      width: 100%
      min-width: 225px