@use '../utils/all' as utils

.testimonial
  @extend %padding-tb

  &__title
    text-align: center

  &__container
    display: flex
    gap: utils.$margin-s
    @media screen and (max-width: 850px)
      flex-direction: column
      align-items: center

  &__no-carousel 
    width: 33%
    @media screen and (max-width: 850px)
      width: 90%

  &__container-text
    width: 63%
    @extend %margin-center
    display: flex
    flex-direction: column
    align-items: center
    gap: utils.$margin-sm
    padding-bottom: utils.$margin-l